bin
build
build-cmake
www
src/misc/shaders.h
src/misc/shaders_web.h
zig-out
zig-cache
.zig-cache
bench
default_font.h
.cache
compile_commands.json
imgui.ini
BPS
.generated
dist/usr
packages/aur/brplot
packages/aur/src/brplot
dist
crash-*
*.tar.gz
nob
nob.cache
tags
packages/pip/src/brplot
packages/npm/package.json
