name: Linux

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - 'tools/**'
      - '.github/workflows/linux.yml'
      - 'external/**'
      - 'Makefile'

permissions:
  contents: read
jobs:
  build:
    runs-on: ${{matrix.os.name}}
    strategy:
      matrix:
        os: [ {name: ubuntu-22.04}, {name: ubuntu-24.04} ]
    steps:
    - uses: actions/checkout@v4.1.7
    - run: |
        sudo apt-get update -qq
        sudo apt-get install -y --no-install-recommends gcc mingw-w64 clang
    - run: ./nob -d
    - run: ./nob --win32

